@font-face {
  font-family: "Onest";
  src: url(./Onest-Light.woff2) format("woff2");
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: "Onest";
  src: url(./Onest-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Onest";
  src: url(./Onest-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: "Onest";
  src: url(./Onest-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-Black.woff2) format("woff2");
  font-weight: 900;
  font-display: block;
}
