:root {
  --color: #121212;
  --header-color: #363636;
  --header-underline: #727272;
  --background-color: white;
  --border: #e2e2e2;
  --search-background-color: #f7f7f7;
  --search-color: #666;
  --input-button: #333;
  --black-white: black;
  --button-border: #dfdfdf;
  --label-hover: #f0f8fc;
  --query-facet: #888;
  --homepage-hover: #f8f8f8;
  --opinion-color: #d0021b;
  --link-hover: #ebebeb;
  --popup-background: white;
  --counter-background: #f5f5f5;
  --counter-color: #999;
  --counter-span-color: black;
  --arrow-stroke: #999;
  --checkmark-year: #979797;
  --submenu-color: #326891;
  --font-Franklin: "Onest", sans-serif;
  --font-Karnak: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  color: currentColor;
  text-decoration: none;
  list-style: none;
}

img,
svg {
  display: block;
  pointer-events: none;
}

img {
  font-family: var(--font-Franklin);
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.scroll-lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 200;
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  transition: all 0.2s ease-in-out;
}

body > header {
  height: auto;
  padding: 14px 0;
}

.sticky-header {
  border-bottom: 1px solid var(--border);
}

body > header.sticky-header {
  height: 49px;
  max-height: 49px;
  padding: 11px 0;
}

.homepage {
  display: block;
  width: fit-content;
  cursor: pointer;
}

body > header .homepage {
  height: 38px;
  margin: 0 auto;
}

body > header.sticky-header .homepage {
  height: 100%;
}

.homepage.disabled {
  pointer-events: none;
}

body > header .homepage img {
  height: 100%;
}

.interactive-heading {
  margin: 0 auto;
  padding: 39px 0 37px;
  font-family: var(--font-Karnak);
  font-size: 61px;
  line-height: 60px;
  text-align: center;
  word-spacing: -0.02em;
}

.figure-wrapper {
  display: flex;
  margin: 0 0 26px;
  overflow: hidden;
  aspect-ratio: 3.55555554;
}

.figure {
  display: grid;
  grid-template-columns: repeat(209, 1fr);
  grid-template-rows: repeat(31, 1fr);
  min-width: 187vw;
  animation: runningLine 60s linear infinite;
  will-change: transform;
}

.figure > div {
  background-color: var(--link-hover);
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.figure > div:nth-child(1) {
  grid-column: 1 / 13;
  grid-row: 1 / 10;
}
.figure > div:nth-child(2) {
  grid-column: 8 / 32;
  grid-row: 6 / 24;
}
.figure > div:nth-child(3) {
  grid-column: 1 / 15;
  grid-row: 25 / 32;
}
.figure > div:nth-child(4) {
  grid-column: 34 / 40;
  grid-row: 11 / 15;
}
.figure > div:nth-child(5) {
  grid-column: 38 / 47;
  grid-row: 3 / 9;
}
.figure > div:nth-child(6) {
  grid-column: 28 / 51;
  grid-row: 17 / 30;
}
.figure > div:nth-child(7) {
  grid-column: 48 / 85;
  grid-row: 1 / 20;
}
.figure > div:nth-child(8) {
  grid-column: 55 / 69;
  grid-row: 24 / 32;
}
.figure > div:nth-child(9) {
  grid-column: 72 / 78;
  grid-row: 22 / 26;
}
.figure > div:nth-child(10) {
  grid-column: 81 / 104;
  grid-row: 15 / 28;
}
.figure > div:nth-child(11) {
  grid-column: 100 / 111;
  grid-row: 25 / 32;
}
.figure > div:nth-child(12) {
  grid-column: 88 / 99;
  grid-row: 4 / 12;
}
.figure > div:nth-child(13) {
  grid-column: 102 / 131;
  grid-row: 1 / 13;
}
.figure > div:nth-child(14) {
  grid-column: 114 / 134;
  grid-row: 18 / 32;
}
.figure > div:nth-child(15) {
  grid-column: 107 / 118;
  grid-row: 14 / 21;
}
.figure > div:nth-child(16) {
  grid-column: 135 / 153;
  grid-row: 6 / 20;
}
.figure > div:nth-child(17) {
  grid-column: 137 / 148;
  grid-row: 25 / 31;
}
.figure > div:nth-child(18) {
  grid-column: 149 / 173;
  grid-row: 18 / 28;
}
.figure > div:nth-child(19) {
  grid-column: 172 / 186;
  grid-row: 11 / 19;
}
.figure > div:nth-child(20) {
  grid-column: 156 / 170;
  grid-row: 5 / 15;
}
.figure > div:nth-child(21) {
  grid-column: 166 / 175;
  grid-row: 2 / 7;
}
.figure > div:nth-child(22) {
  grid-column: 179 / 191;
  grid-row: 4 / 10;
}
.figure > div:nth-child(23) {
  grid-column: 189 / 208;
  grid-row: 11 / 26;
}
.figure > div:nth-child(24) {
  grid-column: 178 / 191;
  grid-row: 23 / 30;
}
.figure > div:nth-child(25) {
  grid-column: 198 / 209;
  grid-row: 1 / 6;
}

.figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  color: var(--search-color);
  font-family: var(--font-Franklin);
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: 0;
  background-color: var(--search-background-color);
}

.search-form .section {
  max-width: 840px;
  margin: 0 auto;
}

.search-form .top {
  padding: 28px 25px 5px;
}

.search-form-status {
  line-height: normal;
}

form {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.input-wrapper {
  display: flex;
  flex-grow: 2;
  flex-basis: 195px;
  align-items: center;
  padding-right: 25px;
}

.input-wrapper label {
  position: relative;
  width: 100%;
}

.input-wrapper input[type="text"] {
  width: 100%;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  padding: 0 100px 0 0;
  color: var(--color);
  font-family: inherit;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.8rem;
  background-color: var(--search-background-color);
  transition: border-color 0.1s linear;
}

.input-wrapper input[type="text"]:hover,
.input-wrapper input[type="text"]:active,
.input-wrapper input[type="text"]:focus,
.input-wrapper input[type="text"]:focus-within {
  border-bottom: 1px solid var(--border);
  box-shadow: none;
  outline: none;
}

.input-wrapper input[type="text"]::placeholder {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 1.75rem;
}

.input-wrapper button {
  position: relative;
  top: -3px;
  display: inline-block;
  min-width: 24px;
  height: 24px;
  margin-left: -30px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  pointer-events: none;
  appearance: button;
}

.input-wrapper button svg {
  fill: #b3b3b3;
}

.input-wrapper button:focus-within svg,
.input-wrapper button.is-active svg {
  fill: var(--input-button);
  pointer-events: auto;
}

.input-wrapper input[type="reset"] {
  position: relative;
  top: 0;
  box-sizing: content-box;
  min-width: 50px;
  height: 100%;
  margin-left: -94px;
  border: none;
  padding: 0 10px;
  color: #b3b3b3;
  font-family: var(--font-Franklin);
  font-size: 9px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  appearance: button;
}

.select-wrapper {
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-basis: auto;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 6px;
  font-size: 0.875rem;
  line-height: 0.875rem;
  transition: border-color 0.1s linear;
  cursor: pointer;
}

.search-form-sort-by {
  border: 0;
  padding: 5px 30px 5px 8px;
  box-shadow: none;
  color: var(--search-color);
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.search-form-sort-by:focus-within {
  outline: none;
}

.checkmark {
  width: 14px;
  min-width: 14px;
  height: 7px;
  min-height: 7px;
  fill: var(--search-color);
  pointer-events: none;
}

.select-wrapper .checkmark {
  position: absolute;
  right: 14px;
  transform: translateY(-50%);
  inset-block-start: 50%;
}

.search-form .bottom {
  padding: 0 25px 10px;
}

.forms {
  display: flex;
  flex-flow: row wrap;
  margin-left: -12px;
  padding: 0;
}

.form {
  position: relative;
  min-width: 100px;
  white-space: nowrap;
}

.form:not(:last-child) {
  margin-right: 60px;
}

.search-multiselect-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
  min-width: 100px;
  margin: 0;
  border: 1px solid transparent;
  padding: 11px;
  padding-top: 12px;
  color: var(--search-color);
  font: inherit;
  font-weight: bold;
  line-height: 14px;
  text-align: left;
  background: transparent;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 252px;
  border: 1px solid var(--border);
  border-radius: 0 0 2px 2px;
  border-top: 0;
  padding-top: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
}

.dropdown-list label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: var(--black-white);
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: normal;
  text-align: left;
  text-transform: capitalize;
  transition:
    background-color 0.25s,
    border-color 0.25s;
  cursor: pointer;
}

.dropdown-list label.disabled {
  pointer-events: none;
}

.dropdown-list label.disabled .input-value {
  color: var(--query-facet);
  font-weight: 400;
}

.dropdown-list input {
  margin-right: 10px;
  cursor: pointer;
}

.dropdown-list span {
  position: relative;
  top: 1px;
}

.dropdown-list .input-counter {
  margin-left: 5px;
  color: var(--query-facet);
}

.submenu-button {
  display: flex;
  gap: 6px;
  width: 100%;
  height: 32px;
  border: none;
  padding: 11px;
  color: var(--submenu-color);
  font: inherit;
  font-weight: 500;
  font-size: 0.75rem;
  background-color: transparent;
  cursor: pointer;
}

.submenu:has(ul.is-open) .submenu-button {
  color: var(--black-white);
}

.submenu-button:disabled {
  color: var(--query-facet);
  font-weight: 400;
  pointer-events: none;
}

.submenu-button .checkmark {
  align-self: end;
  width: 8px;
  min-width: 8px;
  fill: var(--checkmark-year);
}

.submenu:has(ul.is-open) .submenu-button .checkmark {
  transform: rotate(180deg);
}

.submenu-button:disabled .checkmark {
  display: none;
}

.submenu ul {
  display: none;
}

.submenu ul.is-open {
  display: block;
}

.section-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  background-color: var(--background-color);
}

.query-facets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 840px;
  margin: 18px 25px 0;
  border-bottom: 1px solid var(--border);
  padding-bottom: 15px;
}

.query-facet {
  display: inline-flex;
  align-items: center;
  margin-right: 60px;
}

.query-facet span {
  margin-right: 5px;
  color: var(--query-facet);
  font-weight: 500;
  line-height: 20px;
}

.query-facet button {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
  color: var(--black-white);
  font: inherit;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  background: transparent;
  cursor: pointer;
}

.movies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 14px;
  width: calc(100% - 40px);
  max-width: 900px;
  margin: 0 auto 80px;
  margin-top: 6px;
  padding-top: 20px;
}

.movie {
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 162/242;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1099;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popup.is-opened {
  display: block;
}

.movie-popup {
  overflow-y: auto;
  background: var(--background-color);
}

.movie-popup header {
  min-height: 47px;
  padding-top: 5px;
  padding-left: 13px;
}

.movie-popup .homepage {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  margin-left: 3px;
  padding: 2px 9px 4px 7px;
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--font-Franklin);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.movie-popup .homepage img {
  height: 24px;
  min-height: 24px;
  margin-left: 21px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-top: 3.75rem;
  margin-bottom: 1.25rem;
  margin-inline: auto;
  color: var(--color);
  text-align: center;
}

.opinion {
  margin-bottom: 13px;
  color: var(--opinion-color);
  font-family: var(--font-Franklin);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.heading {
  margin-bottom: 0.5rem;
  font-family: var(--font-Karnak);
  font-size: 48px;
  line-height: 56px;
  word-spacing: -0.02em;
}

.heading.smaller {
  font-size: 44px;
  line-height: 44px;
}

.timestamp {
  margin-bottom: 1.875rem;
  font-family: var(--font-Franklin);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.75rem;
  letter-spacing: 0.05em;
}

.byline-wrapper {
  color: var(--header-color);
  font: 600 0.9375rem/1.333 var(--font-Franklin);
}

.byline {
  display: inline-block;
}

.byline span {
  padding-right: 7px;
}

.byline a {
  text-decoration: underline;
  text-decoration-color: var(--header-underline);
  cursor: pointer;
}

.byline-wrapper time {
  display: inline-block;
  font: 500 0.8125rem/1.125rem var(--font-Franklin);
}

.article-link {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  border: 1px solid var(--button-border);
  border-radius: 30px;
  padding: 6px 10px 6px;
  color: var(--color);
  font-family: var(--font-Franklin);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

.article-link svg {
  height: 20px;
  margin-right: 5px;
  fill: var(--color);
}

.imageblock-wrapper {
  width: 420px;
  max-width: 600px;
  margin: 2.5rem auto;
}

.media {
  width: 100%;
  height: auto;
}

figcaption {
  margin: 10px 0 0;
  color: var(--header-underline);
  font-family: var(--font-Franklin);
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.article-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
  margin: 2.5rem auto;
  padding-bottom: 45px;
}

.article-body div {
  background-color: var(--link-hover);
  cursor: pointer;
}

.article-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 300ms ease-in-out 0s;
}

.slideshow-popup {
  overflow-y: hidden;
  background: rgb(0, 0, 0, 0.75);
}

.slideshow-popup .popup-content {
  position: absolute;
  width: 100%;
  margin-inline: auto;
  transform: translateY(-50%);
  inset-inline: 0;
  inset-block-start: 50%;
}

.slideshow-popup button {
  position: absolute;
  z-index: 130;
  margin: 0;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  appearance: button;
}

.slideshow-popup button:disabled {
  display: none;
}

.slideshow-popup svg {
  stroke: white;
}

.close-popup {
  top: 24px;
  left: 24px;
  width: 16px;
  height: 16px;
}

.slideshow-popup img {
  width: auto;
  max-width: 1200px;
  height: auto;
  max-height: 90vh;
  margin: 0 auto;
  object-fit: scale-down;
  transition:
    max-width 0.5s,
    padding 0.5s;
}

.slideshow-popup p {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 129;
  display: inline-block;
  width: 100%;
  height: 60px;
  color: white;
  color: #ccc;
  font-family: var(--font-Franklin);
  font-weight: 500;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
}

.slideshow-popup span {
  color: white;
}

.slideshow-popup .arrow {
  box-sizing: content-box;
  padding: 12px 0;
  transform: translateY(-50%);
  inset-block-start: 50%;
}

.previous-slide {
  left: 30px;
}

.next-slide {
  right: 30px;
}

.arrow svg {
  width: 8px;
  height: 18px;
  min-height: 18px;
  fill: transparent;
}

@keyframes runningLine {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (hover: hover) and (pointer: fine) {
  .select-wrapper:hover {
    border: 1px solid var(--border);
  }

  .dropdown-list label:hover {
    background-color: var(--label-hover);
  }

  .submenu:not(:has(ul.is-open)) .submenu-button:hover {
    background-color: var(--label-hover);
  }

  .query-facet button:hover {
    color: var(--query-facet);
    text-decoration: line-through;
  }

  .movie-popup .homepage:hover {
    background: var(--homepage-hover);
  }

  .byline a:hover {
    text-decoration: none;
  }

  .article-link:hover {
    background: var(--link-hover);
  }
}

@media (prefers-color-scheme: dark), .dark-theme {
  :root {
    --color: white;
    --header-color: #dbdbdb;
    --header-underline: #969696;
    --background-color: #121212;
    --border: #3a3a3a;
    --search-background-color: #212121;
    --search-color: #a3a3a3;
    --input-button: #dfdfdf;
    --black-white: white;
    --button-border: #373737;
    --label-hover: #1c2225;
    --query-facet: #7f7f7f;
    --homepage-hover: #202020;
    --opinion-color: #ff5b49;
    --link-hover: #2a2a2a;
    --popup-background: #121212;
    --counter-background: #000000e6;
    --counter-color: #666;
    --counter-span-color: #ccc;
    --arrow-stroke: white;
    --submenu-color: #7bacd9;
  }
}

@media screen and (max-width: 1440px) {
  .slideshow-popup img {
    max-width: 945px;
  }
}

@media screen and (max-width: 1150px) {
  figcaption {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 1070px) {
  .slideshow-popup img {
    max-width: 100%;
    padding: 0 60px;
  }
}

@media screen and (max-width: 1024px) {
  body > header {
    height: 59px;
    padding: 7px 0;
  }

  body > header.sticky-header {
    height: 44px;
    max-height: 44px;
    padding: 6px 0;
  }

  body > header .homepage {
    height: 100%;
  }

  .interactive-heading {
    padding: 21px 0 22px;
    font: 300 41px / 45px var(--font-Karnak);
  }

  .figure-wrapper {
    margin: 0 0 19px;
    aspect-ratio: 1;
  }

  .figure {
    min-width: 675vw;
  }

  .heading.smaller {
    font-size: 38px;
    line-height: 38px;
  }

  .slideshow-popup p {
    height: 54px;
    line-height: 54px;
  }
}

@media screen and (max-width: 740px) {
  body > header {
    display: flex;
    align-items: center;
    height: 52px;
    padding: 0;
  }

  body > header .homepage {
    height: 31px;
  }

  .movie-popup .homepage img {
    margin-left: 0;
  }

  .header-container {
    width: calc(100% - 40px);
    max-width: 600px;
    margin-top: 1.5625rem;
  }

  .heading {
    font-size: 32px;
    line-height: 38px;
  }

  .heading.smaller {
    font-size: 32px;
    line-height: 32px;
  }

  .timestamp {
    margin-bottom: 1.25rem;
    font-size: 0.8125rem;
  }

  .byline-wrapper {
    font: 600 0.875rem/1.125rem var(--font-Franklin);
  }

  .imageblock-wrapper {
    margin: 1.25rem auto 1.5rem;
  }

  .article-body {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 1.25rem auto 1.5rem;
  }

  .slideshow-popup {
    background: var(--popup-background);
  }

  .slideshow-popup svg {
    stroke: var(--color);
  }

  .slideshow-popup img {
    padding: 0;
  }

  .slideshow-popup p {
    color: var(--counter-color);
    background: var(--counter-background);
  }

  .slideshow-popup span {
    color: var(--counter-span-color);
  }

  .slideshow-popup .arrow {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    padding: 0;
    transform: translateY(0);
    inset-block-start: auto;
  }

  .previous-slide {
    left: 0;
  }

  .next-slide {
    right: 0;
  }

  .arrow svg {
    width: 7px;
    height: 12px;
    min-height: 12px;
    stroke: var(--arrow-stroke);
  }
}

@media screen and (max-width: 600px) {
  .input-wrapper {
    flex-basis: 100%;
    padding: 0;
  }

  .input-wrapper input[type="text"] {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  .select-wrapper {
    margin-left: -15px;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
  }

  .form {
    min-width: fit-content;
  }

  .form:not(:last-child) {
    margin-right: 10px;
  }

  .search-multiselect-button {
    min-width: fit-content;
  }

  .dropdown-list {
    width: 166px;
  }

  .query-facet {
    margin-right: 20px;
  }

  .movies {
    grid-template-columns: repeat(3, 1fr);
  }

  .opinion {
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  .imageblock-wrapper {
    width: 100%;
  }

  figcaption {
    margin: 10px 20px 0;
  }

  .article-body.odd div:nth-child(3n) {
    grid-column: span 2;
  }

  .article-body.even div:nth-child(3n + 1) {
    grid-column: span 2;
  }
}
